# General
*~
*.sw[mnpcod]
*.tmp
*.tmp.*
.tmp/

# Logs
*.log
npm-debug.log
yarn-error.log

# Node
node_modules/

# Build / Output
dist/
www/
build/
tmp/
out-tsc/
bazel-out/
coverage/

# Angular / Ionic
.angular/
.angular/cache/
.ionic/
platforms/
plugins/
.nx/
.nx/cache/

# IDEs / Editors
.idea/
.vscode/

# Misc
.sass-cache/
connect.lock
libpeerconnection.log
typings/

# System
.DS_Store
Thumbs.db

