<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign in</ion-card-title>
      <ion-card-subtitle>Ionic Frontend Login</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input [(ngModel)]="username" name="username" placeholder="Enter username"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Enter password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-margin-top" type="submit">

          Login
        </ion-button>
        <p *ngIf="message" class="ion-padding-top">{{ message }}</p>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
